
body{
  color: rgb(223, 223, 223);
  margin: 0;
  padding: 0;
  background: #333333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: calc(10px + 2vmin);
  text-align: center;
  text-shadow: 
    #000 0px 0px 2px, 
    #FFF 0px 0px 5px, 
    #FFF 0px 0px 15px, 
    #3dff3d 0px 0px 25px, 
    #3dff3d 0px 0px 35px, 
    #3dff3d 0px 1px 50px, 
    #3dff3d 0px 1px 65px, 
    #3dff3d 0px 1px 80px;
  color: #dbffdd;
  padding: 2em;
  margin-top: 0;
  margin-bottom: 1em;
}

.Address{
  font-size: calc(5px + 1vmin);
}
.Login{
  position: absolute;
  right: 1em;
  top: 1em;
}

.some-menu {
  margin-left: 3em;
}

.some-box{
  margin: 3em;

  box-shadow: rgba(10, 10, 104, 0.57) 0px 0px 30px 10px,
    rgba(40, 36, 247, 0.55) 0px 0px 60px 40px,
    rgba(199, 241, 61, 0.89) 0px 0px 30px 50px ;
}

.big-btn{
  font-size: 17px;
  padding: 8px;
  border-radius: 15px;
}

button {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: #6abfde;
  background-image: -webkit-linear-gradient(top, #6abfde, #1d5d85);
  background-image: -moz-linear-gradient(top, #6abfde, #1d5d85);
  background-image: -ms-linear-gradient(top, #6abfde, #1d5d85);
  background-image: -o-linear-gradient(top, #6abfde, #1d5d85);
  background-image: linear-gradient(to bottom, #6abfde, #1d5d85);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 3px 2px 3px #666666;
  -webkit-box-shadow: -5px 10px 7px #666666;
  -moz-box-shadow: -5px 10px 7px #666666;
  box-shadow: -5px 10px 7px #666666;
  font-family: Courier New;
  color: #94e635;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border: solid #376f91 1px;
  text-decoration: none;
}

button:hover {
  background: #4381a8;
  background-image: -webkit-linear-gradient(top, #4381a8, #18394f);
  background-image: -moz-linear-gradient(top, #4381a8, #18394f);
  background-image: -ms-linear-gradient(top, #4381a8, #18394f);
  background-image: -o-linear-gradient(top, #4381a8, #18394f);
  background-image: linear-gradient(to bottom, #4381a8, #18394f);
  text-decoration: none;
  
}

button:active:enabled {
  box-shadow: 0 1px 3px #999;
  transform: translateY(6px);
}

button:disabled {
  background: #71909b;
  box-shadow: 0 0px 0px #999;
}

.inp-border{
	padding: 5px;
	border-radius: 67px;
  
}
input{
	font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align:center;
	margin: 5px;
  padding: 5px;
	outline: none;
	border:double 0;
	background: #252525;
	border-radius: 67px;
  color: rgb(236, 240, 47);
}
input:disabled {
  background: linear-gradient(300deg, #38abe0 30%, #078618 60%);
}

.a2{
  background: linear-gradient(150deg,#2CFFF2 10%, #38abe0 20%, #078618 70%, #29e057 90%, #a1ec16  100%);
}
.a2 >input{
 color: #2CFFF2;
}
.a2 >input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color: #2CFFF2;
 opacity: 0.6; /* Firefox */
}
.inp-border:enabled:hover{
  background: linear-gradient(-190deg,#2CFFF2 10%, #38abe0 20%, #078618 70%, #29e057 90%, #a1ec16  100%);
}
.inp-border:focus-within{
  background: linear-gradient(0deg, #668d8a 0%, #5a2a41 30%, #be7c56 70%, #bd3e3e 100%);
}
.inp-border:focus-within:hover{
  background: linear-gradient(-3deg, #668d8a 0%, #5a2a41 30%, #be7c56 70%, #bd3e3e 100%);
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
